---
title: "Date & Time in Python"
format: 
    revealjs:
        slide-number: true
        theme: dark
        width: 1400
        height: 900
        highlight-style: vim-dark
        center: true
        incremental: true
        footer: "Manish Patel"
        progress: true
jupyter: python3
embed-resources: true
execute:
  echo: true
---

## <font color='red'>What will be Covered?</font>
- Times
- Dates
- timedeltas
- Date Arithmetic
- Comparing Values
- Combining Dates and Times
- Formating and Parsing


## <font color='red'>What is the `datetime` Module?</font>

- The `datetime` module supplies classes to work with date and time. 
- These classes provide a number of functions to deal with dates, times and time intervals.  
- Date and datetime are an object in Python, so when you manipulate them, you are actually manipulating objects and not string or timestamps.


## Terms {.smaller}
The `datetime` module provides high-level interface classes:

- `date`: An idealized date that assumes the Gregorian calendar extends infinitely into the future and past. It stores the year, month, and day as attributes.
- `time`: An idealized time that assumes there are 86,400 seconds per day with no leap seconds. This object stores the hour, minute, second, microsecond, and tzinfo (time zone information).
- `datetime`: A combination of a date and a time. It has all the attributes of both classes.
- `timedelta`: A duration expressing the difference between two date, time, or datetime objects to microsecond resolution.
- `tzinfo`: Provides time zone information objects.
- `timezone`: A class that implements the `tzinfo` abstract base class as a fixed offset from the UTC.

In this presentation, we will focus on the first four classes.

## IMPORT MODULES

In [2]:
import datetime
import numpy as np
import pandas as pd

## <font color='red'>Times</font>

Time values are represented with the <B>time</B> class. Times have attributes for hour, minute, second, and microsecond. 

**SYNTAX**
```python
datetime.time(hour=0, minute=0, second=0, microsecond=0, tzinfo=None, *, fold=0)
```

## EXAMPLE

In [3]:
t = datetime.time(1, 2, 3)
print (t)
print ('hour  :     ', t.hour)
print ('minute:     ', t.minute)
print ('second:     ', t.second)
print ('microsecond:', t.microsecond)
print ('tzinfo:     ', t.tzinfo)

01:02:03
hour  :      1
minute:      2
second:      3
microsecond: 0
tzinfo:      None

The variable <B>t</B> only holds values of time, and not a date associated with the time.
<P>

## DATETIME RANGE
- You can get the valid range of times in a single day:

In [4]:
print ('Earliest  :', datetime.time.min)
print ('Latest    :', datetime.time.max)
print ('Resolution:', datetime.time.resolution)

Earliest  : 00:00:00
Latest    : 23:59:59.999999
Resolution: 0:00:00.000001

Note that the resolution for time is limited to whole microseconds.

## <font color='red'>Dates</font>

Calendar date values are represented with the **date** class.

It is easy to create a date representing todayâ€™s date using the **today()** class method.

**SYNTAX**
```python
datetime.date(year, month, day)
```

## Example

In [5]:
today = datetime.date.today()
print ('today:  ', today)
print ('ctime:  ', today.ctime())
print ('tuple:  ', today.timetuple())
print ('ordinal:', today.toordinal())
print ('Year:   ', today.year)
print ('Mon:    ', today.month)
print ('Day :   ', today.day)

today:   2023-04-01
ctime:   Sat Apr  1 00:00:00 2023
tuple:   time.struct_time(tm_year=2023, tm_mon=4, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=5, tm_yday=91, tm_isdst=-1)
ordinal: 738611
Year:    2023
Mon:     4
Day :    1

## TIMESTAMPS

There are also class methods for creating instances from integers (using proleptic Gregorian ordinal values, which starts counting from Jan. 1 of the year 1) or POSIX timestamp values.

The following example illustrates the different value types used by:

- `fromordinal()`: Return the date corresponding to the proleptic Gregorian ordinal, where January 1 of year 1 has ordinal 1.
- `fromtimestamp()`: Return the local date corresponding to the timestamp.

## EXAMPLE

In [6]:
import time

o = 733114
print ('o = {} and fromordinal(o) = {}:'.format(o, datetime.date.fromordinal(o)))

t = time.time()
print ('t = {} and fromtimestamp(t) = {}'.format(t, datetime.date.fromtimestamp(t)))

o = 733114 and fromordinal(o) = 2008-03-13:
t = 1680367319.1860108 and fromtimestamp(t) = 2023-04-01

## EXAMPLE

We can also determine the range of date values:

In [7]:
print ('Earliest  :', datetime.date.min)
print ('Latest    :', datetime.date.max)
print ('Resolution:', datetime.date.resolution)

Earliest  : 0001-01-01
Latest    : 9999-12-31
Resolution: 1 day, 0:00:00

Note too that the resolution for dates is a whole day.
<P>

## REPLACE
- Another way to create new date instances uses the <B>replace()</B> method of an existing date. For example, you can change the year, leaving the day and month alone.

In [8]:
d1 = datetime.date(2008, 3, 12)
print ('d1:', d1)

d2 = d1.replace(year=2009)
print ('d2:', d2)

d1: 2008-03-12
d2: 2009-03-12

## <font color='red'>timedeltas</font>

We can use <B>datetime</B> to perform basic arithmetic on date values via the <B>timedelta</B> class.

```python
datetime.timedelta(days=0, seconds=0, microseconds=0, 
                   milliseconds=0, minutes=0, hours=0, weeks=0)
```

In [9]:
print ("microseconds:", datetime.timedelta(microseconds=1))
print ("milliseconds:", datetime.timedelta(milliseconds=1))
print ("seconds     :", datetime.timedelta(seconds=1))
print ("minutes     :", datetime.timedelta(minutes=1))
print ("hours       :", datetime.timedelta(hours=1))
print ("days        :", datetime.timedelta(days=1))
print ("weeks       :", datetime.timedelta(weeks=1))

microseconds: 0:00:00.000001
milliseconds: 0:00:00.001000
seconds     : 0:00:01
minutes     : 0:01:00
hours       : 1:00:00
days        : 1 day, 0:00:00
weeks       : 7 days, 0:00:00

## <font color='red'>Date Arithmetic</font>

Date math uses the standard arithmetic operators. The following example with date objects illustrates using <B>timedelta</B> objects to compute new dates, and subtracting date instances to produce timedeltas (including a negative delta value).

## Example

In [10]:
today = datetime.date.today()
print ('Today    :', today)

one_day = datetime.timedelta(days=1)
print ('One day  :', one_day)

yesterday = today - one_day
print ('Yesterday:', yesterday)

tomorrow = today + one_day
print ('Tomorrow :', tomorrow)

print ('tomorrow - yesterday:', tomorrow - yesterday)
print ('yesterday - tomorrow:', yesterday - tomorrow)

Today    : 2023-04-01
One day  : 1 day, 0:00:00
Yesterday: 2023-03-31
Tomorrow : 2023-04-02
tomorrow - yesterday: 2 days, 0:00:00
yesterday - tomorrow: -2 days, 0:00:00

## <font color='red'>Comparing Values</font>

Both date and time values can be compared using the standard operators to determine which is earlier or later.

## Example

In [11]:
print ('Times:')
t1 = datetime.time(12, 55, 0)
print ('\tt1:', t1)
t2 = datetime.time(13, 5, 0)
print ('\tt2:', t2)
print ('\tt1 < t2:', t1 < t2)

print ('Dates:')
d1 = datetime.date.today()
print ('\td1:', d1)
d2 = datetime.date.today() + datetime.timedelta(days=1)
print ('\td2:', d2)
print ('\td1 > d2:', d1 > d2)

Times:
	t1: 12:55:00
	t2: 13:05:00
	t1 < t2: True
Dates:
	d1: 2023-04-01
	d2: 2023-04-02
	d1 > d2: False

## <font color='red'>Combining Dates and Times</font>

We can use the datetime class to hold values consisting of both date and time components. 

**SYNTAX**
```python
datetime.datetime(year, month, day, 
                  hour=0, minute=0, second=0, microsecond=0, tzinfo=None, *, fold=0)
```
## Example

In [12]:
print('Now    :', datetime.datetime.now())
print('Today  :', datetime.datetime.today())
print('UTC Now:', datetime.datetime.utcnow())

d = datetime.datetime.now()
for attr in [ 'year', 'month', 'day', 'hour', 'minute', 'second', 'microsecond']:
    print (attr, ':', getattr(d, attr))

Now    : 2023-04-01 22:12:21.792221
Today  : 2023-04-01 22:12:21.792221
UTC Now: 2023-04-01 16:42:21.793222
year : 2023
month : 4
day : 1
hour : 22
minute : 12
second : 21
microsecond : 793222

## DATETIME OBJECT

In [13]:
NOW = datetime.datetime.now()
 
print( "Current date & time =         %s " %NOW)
print( "Date and time in ISO format = %s" %NOW.isoformat())
print( "Current year =                %s " %NOW.year)
print( "Current month =               %s " %NOW.month)
print( "Current date (day) =          %s " %NOW.day)
print( "dd/mm/yyyy format =           %s/%s/%s" % (NOW.day, NOW.month, NOW.year))
print( "Current hour =                %s " %NOW.hour)
print( "Current minute =              %s " %NOW.minute)
print( "Current second =              %s" %NOW.second)
print( "hh:mm:ss format =             %s:%s:%s" % (NOW.hour, NOW.month, NOW.second))

Current date & time =         2023-04-01 22:12:24.066695
Date and time in ISO format = 2023-04-01T22:12:24.066695
Current year =                2023
Current month =               4
Current date (day) =          1
dd/mm/yyyy format =           1/4/2023
Current hour =                22
Current minute =              12
Current second =              24
hh:mm:ss format =             22:4:24

## Combine()

* Just as with date, datetime provides convenient class methods for creating new instances. It also includes `fromordinal()` and `fromtimestamp()`. 
* In addition, `combine()` can be useful if you already have a date instance and time instance and want to create a datetime.

## Example

In [14]:
t = datetime.time(1, 2, 3)
print ('t :', t)

d = datetime.date.today()
print ('d :', d)

dt = datetime.datetime.combine(d, t)
print ('dt:', dt)

t : 01:02:03
d : 2023-04-01
dt: 2023-04-01 01:02:03

## <font color='red'>Formating and Parsing</font>

* The default string representation of a datetime object uses the format: YYYY-MM-DDTHH:MM:SS.mmmmmm 
* Alternate formats can be generated using `strftime()` function. 
        - Uses different control code to give an output.
        - Each control code resembles different parameters like year,month, weekday and date.
* If your input data includes timestamp values parsable with `time.strptime()`, then `datetime.strptime()` is a convenient way to convert them to datetime instances.

## **Useful `strptime` and `strftime` Patterns** {.smaller}
---
## {.smaller}
|Directive | Meaning |
| --- | --- |
|  `%a` | Weekday as locale's abbreviated name |
|  `%A` | Weekday as locale's full name |
|  `%w` | Weekday as decimal number, where 0 is Sunday and 6 is Saturday |
|  `%d` | Day of the month as a zero-padded decimal number |
|  `%b` | Month as locale's abbreviated name |
|  `%B` | Weekday as locale's full name |
|  `%m` | Month as zero-padded decimal number |
|  `%y` | Year without century as a zero-padded decimal number name |
|  `%Y` | Year with century as a decimal number |
|  `%H` | Hour (24-hour clock) as a zero-padded decimal number |

## {.smaller}

|Directive | Meaning |
| --- | --- |
|  `%I` | Hour (12-hour clock) as a zero-padded decimal number |
|  `%p` | Locale equivalent of either AM or PM |
|  `%M` | Minute as a zero-padded decimal number |
|  `%S` | Second as a zero-padded decimal number |
|  `%f` | Microsecond as a zero-padded decimal number |
|  `%j` | Day of the year as a zero-padded decimal number |
|  `%W` | Week number of the year (Monday as the first day of the week) as a decimal number |
|  `%U` | Week number of the year (Sunday as the first day of the week) as a decimal number |
|  `%c` | Localeâ€™s appropriate date and time representation |
|  `%Z` | Time zone name |
|  `%z` | UTC offset in the form HH[SS[.fffff]] |

## **Formatting**

Weekday Month Day Hour:Minute:Second Year

In [15]:
format = "%a %b %d %H:%M:%S %Y"

today = datetime.datetime.today()
print ('ISO     :', today)

s = today.strftime(format)
print ('strftime:', s)

ISO     : 2023-04-01 22:12:36.056359
strftime: Sat Apr 01 22:12:36 2023

## Time in HH:MM:SS

In [16]:
print(today.strftime("%X"))

22:12:36

Obtain the hour with 12 hours time

In [17]:
print(today.strftime("%I"))

10

## AM or PM

In [18]:
print(today.strftime("%p"))

PM

%c - local date and time, %x-local's date, %X- local's time

In [19]:
print("Date and Time =", today.strftime("%c"))
print("Date =         ", today.strftime("%x"))
print("Time =         ", today.strftime("%X"))

Date and Time = Sat Apr  1 22:12:36 2023
Date =          04/01/23
Time =          22:12:36

%I/%H - 12/24 Hour, %M - minute, %S - second, %p - local's AM/PM

In [20]:
print("Time =         ", today.strftime("%I:%M:%S %p")) # 12-Hour:Minute:Second:AM
print("Hour:Minutes = ", today.strftime("%H:%M")) # 24-Hour:Minute

Time =          10:12:36 PM
Hour:Minutes =  22:12

## **Parsing**

In [21]:
d = datetime.datetime.strptime(s, format)
print ('strptime:', d.strftime(format))

strptime: Sat Apr 01 22:12:36 2023