# Python Language Intro (Part 3)

## 6. Immutable Sequence Types: Strings, Ranges, Tuples

### Strings

In [1]:
s = 'hello'

In [2]:
(
    s[0],
    s[1:3],
    'e' in s,
    s + s,
)

('h', 'el', True, 'hellohello')

In [3]:
s[0] = 'j'

TypeError: 'str' object does not support item assignment

In [4]:
t = s
s += s # not mutating the string!

In [5]:
t, s

('hello', 'hellohello')

### Ranges

In [6]:
r = range(150, 10, -8)

In [7]:
(
    r[2],
    r[3:7],
    94 in r
)

(134, range(126, 94, -8), True)

### Tuples

In [8]:
()

()

In [9]:
(1, 2, 3)

(1, 2, 3)

In [10]:
1, 2, 3

(1, 2, 3)

In [11]:
(1) # not a tuple!

1

In [15]:
1,

(1,)

In [16]:
('a', 10, False, 'hello') # tuples are heterogenous

('a', 10, False, 'hello')

In [17]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [18]:
tuple('hello')

('h', 'e', 'l', 'l', 'o')

In [19]:
t = tuple('hello')
(
    'e' in t,
    t[::-1],
    t * 3
)

(True,
 ('o', 'l', 'l', 'e', 'h'),
 ('h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o'))

## 7. Mutable data structures: Lists, Sets, Dicts

### Lists

This list supports  the [mutable sequence operations](https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types) in addition to the [common sequence operations](https://docs.python.org/3/library/stdtypes.html#common-sequence-operations).

In [20]:
l = [1, 2, 1, 1, 2, 3, 3, 1]

In [21]:
len(l)

8

In [22]:
l[5]

3

In [23]:
l[1:-1]

[2, 1, 1, 2, 3, 3]

In [24]:
l + ['hello', 'world']

[1, 2, 1, 1, 2, 3, 3, 1, 'hello', 'world']

In [25]:
l # `+` does *not* mutate the list!

[1, 2, 1, 1, 2, 3, 3, 1]

In [26]:
l * 3

[1, 2, 1, 1, 2, 3, 3, 1, 1, 2, 1, 1, 2, 3, 3, 1, 1, 2, 1, 1, 2, 3, 3, 1]

In [27]:
total = 0
for x in l:
    total += x
total

14

#### Lists from other things ...

In [28]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
list('hello!')

['h', 'e', 'l', 'l', 'o', '!']

In [30]:
list((1, 2, (3, 4)))

[1, 2, (3, 4)]

In [31]:
'I love CS 331'.split()

['I', 'love', 'CS', '331']

In [32]:
'apples, bananas, cats, dogs'.split(',')

['apples', ' bananas', ' cats', ' dogs']

In [33]:
# also, strings from lists of strings
'-'.join(['a', 'e', 'i', 'o', 'u'])

'a-e-i-o-u'

In [34]:
' üëè '.join('this is a beautiful day'.split())

'this üëè is üëè a üëè beautiful üëè day'

#### Mutable list operations

In [35]:
l = list('hell')

In [36]:
l

['h', 'e', 'l', 'l']

In [37]:
l.append('o')

In [38]:
l

['h', 'e', 'l', 'l', 'o']

In [39]:
l.append(' there')

In [40]:
l

['h', 'e', 'l', 'l', 'o', ' there']

In [41]:
del l[-1]

In [42]:
l.extend(' there')

In [43]:
l

['h', 'e', 'l', 'l', 'o', ' ', 't', 'h', 'e', 'r', 'e']

In [44]:
l[2:7]

['l', 'l', 'o', ' ', 't']

In [45]:
del l[2:7]

In [46]:
l

['h', 'e', 'h', 'e', 'r', 'e']

In [47]:
l[0:3] = "get "

In [48]:
l

['g', 'e', 't', ' ', 'e', 'r', 'e']

In [49]:
l[:]

['g', 'e', 't', ' ', 'e', 'r', 'e']

In [50]:
l == l[:]

True

In [51]:
l is l[:]

False

#### Sorting lists

See <https://docs.python.org/3/library/stdtypes.html#list.sort>

In [52]:
import random

l = list(range(-10,10))
random.shuffle(l)
l

[7, -8, 3, 0, -6, 5, 6, -5, 2, -10, -4, -9, -7, -2, 1, -3, -1, 8, 9, 4]

In [53]:
l.sort()
l

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
random.shuffle(l)
sorted(l)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
l

[-9, 6, -7, 1, 8, 0, -8, -4, -6, 4, 7, 5, -3, -2, -10, -5, 2, 9, 3, -1]

In [56]:
l.sort(reverse=True)
l

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [57]:
l.sort(key=lambda n:abs(n))
l

[0, 1, -1, 2, -2, 3, -3, 4, -4, 5, -5, 6, -6, 7, -7, 8, -8, 9, -9, -10]

In [58]:
l.sort(key=abs, reverse=True)
l

[-10, 9, -9, 8, -8, 7, -7, 6, -6, 5, -5, 4, -4, 3, -3, 2, -2, 1, -1, 0]

#### List comprehensions

In [59]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Sets

A [set](https://docs.python.org/3.7/library/stdtypes.html#set-types-set-frozenset) is a data structure that represents an *unordered* collection of unique objects (like the mathematical set).

In [62]:
s = {1, 2, 1, 1, 2, 3, 3, 1}

In [63]:
s

{1, 2, 3}

In [64]:
t = {2, 3, 4, 5}

In [65]:
s.union(t)

{1, 2, 3, 4, 5}

In [66]:
s | t

{1, 2, 3, 4, 5}

In [67]:
s.difference(t)

{1}

In [68]:
s - t

{1}

In [69]:
s.intersection(t)

{2, 3}

In [70]:
s & t

{2, 3}

### Dicts

A [dictionary](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict) is a data structure that contains a set of unique key &rarr; value mappings.

In [71]:
d = {
    'Superman':  'Clark Kent',
    'Batman':    'Bruce Wayne',
    'Spiderman': 'Peter Parker',
    'Ironman':   'Tony Stark'
}

In [72]:
d['Ironman']

'Tony Stark'

In [73]:
d['Ironman'] = 'James Rhodes'

In [74]:
d

{'Superman': 'Clark Kent',
 'Batman': 'Bruce Wayne',
 'Spiderman': 'Peter Parker',
 'Ironman': 'James Rhodes'}

In [75]:
del d['Ironman']
d

{'Superman': 'Clark Kent',
 'Batman': 'Bruce Wayne',
 'Spiderman': 'Peter Parker'}

In [76]:
for k in d:
    print(f'{k} => {d[k]}')

Superman => Clark Kent
Batman => Bruce Wayne
Spiderman => Peter Parker

In [77]:
for k in d.keys():
    print(f'{k} => {d[k]}')

Superman => Clark Kent
Batman => Bruce Wayne
Spiderman => Peter Parker

In [78]:
for v in d.values():
    print(v)

Clark Kent
Bruce Wayne
Peter Parker

In [79]:
for k,v in d.items():
    print(f'{k} => {v}')

Superman => Clark Kent
Batman => Bruce Wayne
Spiderman => Peter Parker

#### Dictionary comprehensions

In [81]:
{x:y for x in range(3) for y in range(10)}

{0: 9, 1: 9, 2: 9}

In [82]:
sentence = 'a man a plan a canal panama'
{w:w[::-1] for w in sentence.split()}

{'a': 'a', 'man': 'nam', 'plan': 'nalp', 'canal': 'lanac', 'panama': 'amanap'}